<h1 align="center">Listing All Categories</h1>
<div class="row justify-content-center">
  <%= will_paginate %>
</div>
<% @categories.each do |category| %>
  <ul class="listing">
    <div class="form-group row">
      <div class="card bg-light col-sm-4 offset-sm-4">
        <div class="card-body center">
          <li class="article-title">
            <%= link_to "#{category.name}", category_path(category) %>
          </li>
          <li><small><%= pluralize(category.articles.count, "article") %></small></li>
        </div>
      </div>
    </div>
  </ul>
<% end %>
<div class="row justify-content-center">
  <%= will_paginate %>
</div>
